@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  outline: none;
  box-sizing: border-box;
}

:root {
  --theme-bg-color: #0e0e0e;
  --theme-color: #fff;
  --theme-inactive-color: #5c5c5c;
  --body-font: "Poppins", sans-serif;
  --border-color: #252424;
  --card-color: #131a1a;
}

body {
  transform: scale(1);
  transform-origin: top left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 2em;
  color: var(--theme-color);
  font-family: var(--body-font);
  background-color: #1b1b1b;
}
@media (max-width: 480px) {
  body {
    padding: 0.5em;
  }
}

.app {
  background-color: var(--theme-bg-color);
  width: 100%;
  max-width: 1200px;
  height: 92vh;
  max-height: 900px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  position: relative;
}
.app-affiche {
  background-color: var(--theme-bg-color);
  width: 100%;
  max-width: 1200px;
  height: 92vh;
  max-height: 900px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  position: relative;
}

.app-cache {
  display: none;
}

.sidebar {
  flex-basis: 284px;
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-shrink: 0;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 50px;
}
@media (max-width: 480px) {
  .sidebar {
    display: none;
  }
}
.sidebar-menu {
  display: inline-flex;
  flex-direction: column;
  padding-top: 64px;
}
.sidebar-menu__link {
  color: var(--theme-inactive-color);
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  transition: 0.3s;
}
.sidebar-menu__link + .sidebar-menu__link {
  margin-top: 24px;
}
.sidebar-menu__link:hover, .sidebar-menu__link.active {
  color: var(--theme-color);
}

.user {
  display: flex;
  flex-direction: column;
  padding-bottom: 64px;
  border-bottom: 1px solid var(--border-color);
}
.user-photo {
  width: 54px;
  height: 54px;
  border-radius: 10px;
  object-fit: cover;
  flex-shrink: 0;
  margin-bottom: 20px;
}
.user-mail {
  margin-top: 6px;
  color: var(--theme-inactive-color);
  font-size: 14px;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 24px;
  margin-top: auto;
}

input[type=checkbox] {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #4649bd;
  transition: 0.3s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 6px;
  bottom: 4px;
  background-color: #fff;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #489f8c;
}

input:checked + .slider:before {
  transform: translateX(28px);
}

.main {
  display: auto;
  flex-direction: column;
  flex-grow: 1;
  padding: 50px 50px 50px 20px;
}
@media (max-width: 480px) {
  .main {
    padding: 40px 20px;
  }
}
.main-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.main-header__title {
  font-size: 28px;
  font-weight: 600;
  margin-right: 24px;
}
.main-header__avatars {
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
@media (max-width: 480px) {
  .main-header__avatars {
    display: none;
  }
}
.main-header__avatars .main-header__avatar {
  width: 36px;
  height: 36px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 50%;
  border: 2px solid var(--theme-bg-color);
}
.main-header__avatars .main-header__avatar + .main-header__avatar {
  margin-left: -5px;
}
.main-header__avatars .add-button {
  background-color: transparent;
  border: 0;
  padding: 0;
  color: #d8d8d8;
  margin-left: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-header__avatars .add-button svg {
  width: 28px;
  height: 28px;
  flex-shrink: 0;
}
.main-header__add {
  background-color: #ea4e34;
  border: none;
  color: #fff;
  padding: 4px;
  width: 36px;
  height: 36px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-left: auto;
  cursor: pointer;
  transition: 0.3s;
}
.main-header__add:hover {
  background-color: #e4361a;
}
.main-header__add svg {
  width: 20px;
  height: 20px;
}
.main-header-nav {
  display: flex;
  align-items: center;
  font-size: 15px;
  padding: 20px 0;
}
.main-header-nav .nav-item {
  color: var(--theme-inactive-color);
  text-decoration: none;
  padding-bottom: 6px;
  transition: 0.3s;
  border-bottom: 1px solid transparent;
}
.main-header-nav .nav-item:hover {
  color: #fff;
}
.main-header-nav .nav-item.active {
  border-bottom: 1px solid #fff;
  color: #fff;
}
.main-header-nav * + * {
  margin-left: 24px;
}

.main-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
@media (max-width: 480px) {
  .main-content {
    gap: 10px;
  }
}

.card {
  border-radius: 20px;
  overflow: hidden;
  max-width: 100%;
  contain: layout;
  position: relative;
  z-index: 1;
  cursor: pointer;
  width: auto;
  aspect-ratio: 1/1;
}
@media (max-width: 480px) {
  .card {
    aspect-ratio: 1/1.4;
  }
}

.card.clicked {
  position: absolute;
  width: 500px;
  height: 600px;
  z-index: 2;
}
.card.card-1 {
  background-image: url("https://images.unsplash.com/photo-1567653418876-5bb0e566e1c2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1664&q=80");
  view-transition-name: c1;
}
.card.card-2 {
  view-transition-name: c2;
  background-image: url("https://images.unsplash.com/photo-1575500221017-ea5e7b7d0e34?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1635&q=80");
}
.card.card-3 {
  view-transition-name: c3;
  background-image: url("https://images.unsplash.com/photo-1506619216599-9d16d0903dfd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1738&q=80");
}
.card.card-4 {
  background-color: #e3dfec;
  view-transition-name: c4;
  background-image: url("https://images.unsplash.com/photo-1684483871267-739be928cb0e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDJ8fHxlbnwwfHx8fHw%3D&auto=format&fit=crop&w=400&q=60");
}
.card.card-5 {
  background-image: url("https://images.unsplash.com/photo-1559181567-c3190ca9959b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1664&q=80");
  view-transition-name: c5;
}
.card.card-6 {
  background-color: #f8d7cd;
  view-transition-name: c6;
  background-image: url("https://images.unsplash.com/photo-1586788224331-947f68671cf1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80");
}
.card.card-7 {
  background-color: #f8d7cd;
  view-transition-name: c7;
  background-image: url("https://images.unsplash.com/photo-1586788224331-947f68671cf1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80");
}
.card.card-8{
  background-color: #f8d7cd;
  view-transition-name: c8;
  background-image: url("https://images.unsplash.com/photo-1586788224331-947f68671cf1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80");
}
.card.card-9 {
  background-color: #f8d7cd;
  view-transition-name: c9;
  background-image: url("https://images.unsplash.com/photo-1586788224331-947f68671cf1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80");
}

.cadr-text{
  text-align: center;
}
.card-img {
  object-fit: cover;
  background-size: cover;
  background-position: center;
}

.card-main {
  view-transition-name: card1;
}

.card.active {
  grid-column: 1;
  grid-column-end: 3;
  grid-row: 1;
  grid-row-end: 6;
  z-index: 999;
  aspect-ratio: 1/1;
}
@media (max-width: 480px) {
  .card.active {
    grid-column-end: 4;
    aspect-ratio: 2/1;
  }
}

.main-content.expanded .card:not(.active) {
  opacity: 0.4;
  pointer-events: none;
  aspect-ratio: 3/1;
  grid-column-start: 3;
}
@media (max-width: 480px) {
  .main-content.expanded .card:not(.active) {
    aspect-ratio: 1;
    grid-column-start: auto;
  }
}


.led {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: red;
  box-shadow: 0 0 20px red;
  display: inline-block;
  transition: all 0.3s ease; 
}

.green {
  background-color: #00ff6a;
  box-shadow: 0 0 20px #00ff6a;
}

.content-item {
  display: none;
}

.content-item.active {
  display: block;
}

.content-side-item{
  display: none;
}


.content-side-item.active{
  display: block;
}





.topnav {
  background-color: #4a90e2; 
  color: white;
  font-size: 1.1rem;
  padding: 10px 20px; 
  text-align: left;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#authentication-bar {
  background-color: #1e1e1e;
  padding: 20px;
  color: #333; 
}

#user-details {
  color: #333; 
  font-size: 1rem;
}

/*--------------------------------------------------------------------------------*/


body, html {
  margin: 0;
  padding: 0;
  background-color: #151912;
 overflow-x: hidden;
}

.content1 {
  width: 100vw;
  font-family: 'Times New Roman', serif;
}

.section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF6F7;
  text-align: center;
}

.section > div {
  width: 90%;
}

.section:nth-child(1) {
  font-size: 20vh;
}

@media (max-width: 600px) {
  .section:nth-child(1) {
      font-size: 25vw;
  }
}

@media (max-width: 350px) {
  .section:nth-child(1) {
      font-size: 30px;
  }
}

.section:nth-child(2) {
  font-size: 10vh;
}

.section:nth-child(3) {
  font-size: 8vh;
}

.section:nth-child(2) > div {
  max-width: 800px
}

.section:nth-child(3) > div {
  max-width: 900px
}

@media (max-width: 750px) {
  .section:nth-child(2),
  .section:nth-child(3) {
      font-size: 9vw;
  }
}

.section:nth-child(3) a {
  padding: 0 .3em;
}


a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
  font-style: inherit;
}

a:hover {
  font-weight: inherit;
  text-decoration: none;
  color: rgb(160, 160, 255);
}

a:active {
  color: rgb(160, 255, 255);
}

body, html {
  margin: 0;
  padding: 0;
  background-color: #151912;
}

.content1 {
  width: 100vw;
  font-family: 'Times New Roman', serif;
}

.section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF6F7;
  text-align: center;
}

.section > div {
  width: 90%;
}

.section:nth-child(1) {
  font-size: 20vh;
}

@media (max-width: 600px) {
  .section:nth-child(1) {
      font-size: 25vw;
  }
}

@media (max-width: 350px) {
  .section:nth-child(1) {
      font-size: 30px;
  }
}

.section:nth-child(2) {
  font-size: 10vh;
}

.section:nth-child(3) {
  font-size: 8vh;
}

.section:nth-child(2) > div {
  max-width: 800px
}

.section:nth-child(3) > div {
  max-width: 900px
}

@media (max-width: 750px) {
  .section:nth-child(2),
  .section:nth-child(3) {
      font-size: 9vw;
  }
}

.section:nth-child(3) a {
  padding: 0 .3em;
}

canvas#neuro {
  position: fixed;
  visibility: visible;
  transition: opacity 0.5s ease, visibility 0s ease 0.5s;  
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  opacity: .95;
}

canvas#neuro.hidden {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0s ease 0.5s;  

}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
  font-style: inherit;
}

a:hover {
  font-weight: inherit;
  text-decoration: none;
  color: rgb(160, 160, 255);
}

a:active {
  color: rgb(160, 255, 255);
}


.cards {
  display: auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem; 
  margin: 0 auto;
  padding: 2rem;
}


.card_value {
  background-color: var(--theme-bg-color); 
  width: 65%;
  border-radius: 15px;  
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
  padding: 30px;
  color: white; 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: left;
  margin: 1rem;
}

.card_value:hover {
  transform: translateY(-10px); 
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.7);
}



.form-elements-container {
  padding: 16px;
  width: 300px; 
  margin: 0 auto;
}


#authentication-bar {
  position: fixed;       
  top: 20px;
  left: 20px;
  background-color: #333;    
  color: #fff;               
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  gap: 8px;                 
  font-size: 14px;
  z-index: 1000;            
}

#authentication-bar #authentication-status {
  font-weight: inherit;
}

#authentication-bar #user-details {
  font-style: inherit;
}

#authentication-bar #logout-link {
  color: #ff4d4d;            
  text-decoration: none;
  margin-left: 10px;
  font-weight: bold;
}

#authentication-bar #logout-link:hover {
  text-decoration: underline;
}


.scrollable-div {
  width: 100%;           
  height: 65vh;            
  max-height: 600px;       
  overflow-y: auto;     
  overflow-x: auto;    
  padding: 10px;
  background-color: var(--theme-bg-color);
  box-sizing: border-box;  
}


@media (max-width: 768px) {
  .scrollable-div {
    height: 40vh;      
  }
}


@media (max-width: 480px) {
  .scrollable-div {
    height: 30vh;         
  }
}


.button {
  padding: 12px 24px;      
  background-color: var(--theme-bg-color);
  color: white;             
  border: none;             
  border-radius: 8px;      
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  transition: all 0.3s ease; 
}

.button:hover {
  background-color: #45a049; 
  transform: translateY(-2px); 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
}

#delete-button:hover {
  background-color: #ff1a1a; 
  color: white;           
}


.button:active {
  background-color: #3e8e41; 
  transform: translateY(1px); 
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); 
  padding-top: 50px;
}

.modal-content {
  background-color: var(--theme-bg-color);
  margin: 5% auto;
  border-radius: 10px;
  width: 70%;
  max-width: 800px;
  padding: 20px;
}

.card_chart{
  background-color : var(--theme-color); 
  
  border-radius: 15px;  
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
  padding: 30px;
  color: white; 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: left;
  margin: 1rem;
}


.group {
  position: relative;
 }
 
 .input {
  position : center;
  color : white;
  font-size: 1.2rem;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 350px;
  border: none;
  border-bottom: 1px solid #515151;
  background: transparent;
 }
 
 .input:focus {
  outline: none;
 }
 
 label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
 }
 
 .input:focus ~ label, .input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #5264AE;
 }
 
 .bar {
  position: relative;
  display: block;
  width: 200px;
 }
 
 .bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #008357;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
 }
 
 .bar:before {
  left: 50%;
 }
 
 .bar:after {
  right: 50%;
 }
 
 .input:focus ~ .bar:before, .input:focus ~ .bar:after {
  width: 50%;
 }
 
 .highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
 }
 
 .input:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
 }
 
 @keyframes inputHighlighter {
  from {
   background: #5264AE;
  }
 
  to {
   width: 0;
   background: transparent;
  }
 }

 .boton-elegante {
  padding: px 15px;
  border: 2px solid #2c2c2c;
  background-color: #1a1a1a;
  color: #ffffff;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 30px;
  transition: all 0.4s ease;
  outline: none;
  position: relative;
  overflow: hidden;
  font-weight: bold;
}

.boton-elegante::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  height: 10%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  transform: scale(0);
  transition: transform 0.5s ease;
}

.boton-elegante:hover::after {
  transform: scale(4);
}

.boton-elegante:hover {
  border-color: #666666;
  background: #292929;
}


.button-86 {
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-86::after,
.button-86::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.button-86::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}

.button-86::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button-86:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button-86:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button-86:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}